/* * IPHONE * */

.article-display {
   margin: 1.8rem 2.5rem;
}

.article-card {
   padding: 1.25rem;
   box-shadow: 0 0.1rem 0.4rem -0.06rem hsl(0, 0%, 20%);
   color: var(--dark4);
   background-color: var(--light2);
   border-radius: 0.5rem;
}

.article-title {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   margin: 0.9rem 0px 1.8rem 0px;
   font-family: 'Nasal';
   font-size: 1.8rem;
   font-weight: bold;
   letter-spacing: 0.1rem;
   text-transform: uppercase;
   pointer-events: none;
}

.article-title:after,
.article-title:before {
   content: '';
   width: 6.2rem;
   height: 0.1rem;
   margin: 0 0.6rem;
   background: var(--pillpink);
}

.article-header {
   margin-top: 2.5rem;
   text-align: center;
   font-family: 'Nasal';
   font-weight: bold;
   font-size: 1.5rem;
   letter-spacing: 0.2rem;
   line-height: 1.3rem;
   text-transform: uppercase;
   pointer-events: none;
}

.article-intro,
.article-text {
   margin-top: 1.3rem;
   font-family: 'Nasal';
   font-size: 1.3rem;
   letter-spacing: 0.1rem;
   line-height: 1.8rem;
   pointer-events: none;
}

.article-image {
   margin-top: 1.8rem;
   width: 100%;
}

.back-container {
   text-align: right;
   margin-top: 0.9rem;
}

.back {
   margin-top: 0.9rem;
   font-family: 'Nasal';
   font-size: 1.1rem;
   font-weight: bold;
   text-decoration: none;
   letter-spacing: 0.1rem;
   color: var(--dark4);
   outline-color: var(--pillpink);
}

.back:hover,
.back:focus {
   color: var(--pillpink);
   transition: .3s ease-in-out;
}

.article-figure {
   text-align: center;
}

.article-figcaption {
   margin-top: 0.3rem;
   font-family: 'Nasal';
   font-size: 1rem;
   letter-spacing: 0.08rem;
   line-height: 1.3rem;
   pointer-events: none;
}

/* * IPAD * */
@media only screen and (min-width: 768px) {

   .article-display {
      margin: 1.8rem 10%;
   }

   .article-card {
      padding: 2.5rem 1.25rem 1.25rem 1.25rem;
   }

   .article-intro,
   .article-text {
      margin: 1.5rem 1rem;
   }

   .article-image {
      width: 97%;
   }
}

/* * MACBOOK PRO * */
@media only screen and (min-width: 1280px) {

   .article-display {
      margin: 1.8rem 15%;
   }
}

/* * IMAC * */
@media only screen and (min-width: 1537px) and (max-width: 2560px) {

   .article-display {
      margin: 1.8rem 25%;
   }
}