.blog-display {
   margin: 30px 40px 30px 40px;
}

.blog-card {
   position: relative;
   padding: 20px 20px 20px 20px;
   margin-bottom: 1.250em;
   box-shadow: 0 3px 7px -1px hsl(0, 0%, 20%);
   color: var(--dark4);
   font-family: 'Nasal';
   background-color: var(--light2);
   border-radius: 5px;
}

.blog-li {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 2.5em;
   font-family: 'Nasal';
   font-size: 20px;
}

.blog-article {
   display: inline-block;
   font-family: 'Nasal';
   font-size: 20px;
   letter-spacing: 1px;
   text-decoration: none;
   color: var(--dark4)
}

.blog-article:hover, 
.blog-article:focus {
      color: var(--pillpink);
      transition: .3s ease-in-out;
   }

.blog-background-1, 
.blog-background-2, 
.blog-background-3 {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   padding: 28%;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.blog-background-3 {
   background-image: url("../images/blog-images/Blog-3.jpg");
}

.blog-background-2 {
   background-image: url("../images/blog-images/Blog-2.jpg");
}

.blog-background-1 {
   background-image: url("../images/blog-images/Blog-1.jpg");
}

.blog-title {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   margin: 15px 0px 15px 0px;
   font-size: 24px;
   font-weight: bold;
   letter-spacing: 2px;
   line-height: 25px;
   text-transform: uppercase;
   pointer-events: none;
}

.blog-title:after, 
.blog-title:before {
   content: '';
   width: 100px;
   height: 2px;
   margin: 0 10px;
   background: var(--pillpink);
}

/* * IPAD * */
@media only screen and (min-width: 768px) {
   .blog-card {
      margin-bottom: 0em;
   }

   .blog-background-1, 
   .blog-background-2, 
   .blog-background-3 {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 21.3%;
      background-size: contain;
      background-repeat: no-repeat;
   }
}