/* * IPHONE * */

.hero-container {
   margin: 1.8rem 0 0 0;
   text-align: center;
}

.hero {
   display: none;
}

.hero2 {
   width: 100%;
   border: 0.3rem solid black;
}

/* * IPAD * */
@media only screen and (min-width: 768px) {

   .hero {
      display: inline;
      width: 90vw;
      border: 0.3rem solid black;
   }

   .hero2 {
      display: none;
   }
}

/* * IMAC * */
@media only screen and (min-width: 1537px) and (max-width: 2560px) {
   .hero {
      width: 75vw;
   }
}