/* * IPHONE * */

.hero-container {
   margin: 30px 0px 0px 0px;
   text-align: center;
}

.hero {
   display: none;
}

.hero2 {
   width: 100%;
   border: 5px solid black;
}

/* * IPAD * */
@media only screen and (min-width: 768px) {

   .hero {
      display: inline;
      width: 75vw;
      border: 5px solid black;
   }

   .hero2 {
      display: none;
   }
}